
*{
    font-family: Helvetica, sans-serif ;
}
head {
    display: block;
    text-align: center;
}
#cabeza{
    background-color: #5e5e5e;
}
#cabeza h1{
color: #ffffff;
text-align: right;
padding: 20px;
padding-top: 3%;
display: inline;
position: relative;
float: right;
margin: 0px;
}
#cabeza a img{
    width:5%;
    float: right;
    padding-right: 1%;
    padding-top:2%;
}

.linkshead {
    background-color: #5e5e5e;
    padding-bottom: 150px;
    color: rgb(219, 217, 217);
    text-decoration: none;
    
}
 .linkshead .ahead {
    margin-left: 100px;
    margin-right: 100px;
}
a{
    text-decoration: none;
    color:rgb(245, 122, 51)
}


.imgmarc{
    width: 83%;
    border-radius: 25px;
    border: #d4d4d46e;
    border-style: solid;
    border-width: 1px;
    margin: 0% auto;
    display:block;   
    margin-bottom: 40px
}

h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 200px;
    display: block;
    text-shadow: 0.1em 0.1em 0.2em rgb(201, 201, 201);
}

.iphone h2{
    top: 480px;
    left: 200px;
    position: absolute;

}

.samsung h2{
    top: 1160px;
    left: 200px;
    position: absolute;

}
section a{
    text-shadow: 0.1em 0.1em 0.1em rgba(228, 228, 228, 0.568);

}
hr{
    margin-bottom: 40px;
    margin-left: 250px;
    margin-right: 250px;
    border-color: rgba(245, 122, 51, 0.459);
}
.mto h2{
    top: 1780px;
    left: 200px;
    position: absolute;

}

.xia h2{
    top: 2555px;
    left: 200px;
    position: absolute;
}
section{
    background: #f8f8f8;
    margin-left: 50px;
    margin-right:50px;
    padding-bottom:100px ;
    padding-top: 100px;
}
article a{
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    display: inline-block;
    position: absolute;    
    text-decoration: none;
    color:rgb(245, 122, 51)

}

.iphone a{
    top: 640px;
    left: 200px;
}

.samsung a{
    top: 1318px;
    left: 200px;
}

.mto a{
    top: 1940px;
    left: 200px;
}

.xia a{
    top: 2715px;
    left: 200px;
}

head {
    display: block;
    text-align: center;
}
#cabeza{
    background-color: #5e5e5e;
}
#cabeza h1{
color: #ffffff;
text-align: right;
padding: 20px;
padding-top: 3%;
display: inline;
position: relative;
float: right;
margin: 0px;
}
#cabeza a img{
    width:5%;
    float: right;
    padding-right: 1%;
    padding-top:2%;
}

.linkshead {
    background-color: #5e5e5e;
    text-align: ;
    padding-bottom: 150px;
    color: rgb(219, 217, 217);
    text-decoration: none;
    
}
 .linkshead .ahead {
    margin-left: 100px;
    margin-right: 100px;
}


footer{
    background-color: #5e5e5e;
    color: #ffffff;
    font-family: Helvetica, sans-serif ;
    display:block
    
}

footer a{
    color:#ffffff;
}
footer li{
    list-style: none;
    
}
.ico{
    float: right;
    display: inline-block;
    color: #ffffff;
    text-align: center;
    margin-right: 70px;
    margin-top: 40px;
}

.link{
    margin-right: 100px;
    display: inline-block ;
    margin-left: 60px;    
}
.marcas{
    display: inline-block;
    margin-left: 70px;
}
.ico img{
    width: 35px;
    display: inline-block;
    margin-left: 20px;
}