*{
    font-family: Helvetica, sans-serif ;
    color: #2b2a2a;
}
body{
    font-weight: 100;
    background-color: #ffffff;
    line-height: 1.4;
}

a{
    text-decoration: none;
}
head {
    display: block;
    text-align: center;
}
#cabeza{
    background-color: #5e5e5e;
}
#cabeza h1{
color: #ffffff;
text-align: right;
padding: 20px;
padding-top: 3%;
display: inline;
position: relative;
float: right;
margin: 0px;
}
#cabeza a img{
    width:5%;
    float: right;
    padding-right: 1%;
    padding-top:2%;
}

.linkshead {
    background-color: #5e5e5e;
    text-align: ;
    padding-bottom: 150px;
    color: rgb(219, 217, 217);
    text-decoration: none;
    
}
 .linkshead .ahead {
    margin-left: 100px;
    margin-right: 100px;
}

h1{
    align-items: center;
}
.central h2{
    padding-bottom: 1%;
    padding-top: 1%;
    text-align: left;
    padding-left: 10px ;
    color: black;
    font-size: 35px;
    font-weight: 170;
    font-family: 'Rubik Mono One', sans-serif;
   
}
hr{
    margin-bottom: 80px;
    margin-top: 70px;
}
.titPag{
    text-align: center;
    background-color: #f0f0f06b;
    margin: 0;
    padding-top: 20px ;
    padding-bottom: 10px;
    font-weight: 100;
}
article p{
    text-indent: 20px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
}
.unindx { 
    display: block;
    margin: 0% auto;
    margin-top: 50px;
} 
#galComp{
    margin: 0% auto;
    margin-top: 50px;
    text-align: center;
    
}
#galComp img{
    margin: 10px;
    padding-left: 5px ;
    width: 300px;
    height: 150px;
    border-radius: 50px;
}
#galComp h6{
    margin-top: 8px;
    display: inline-block;
    background:linear-gradient(rgba(139, 139, 139, 0.144),rgba(189, 189, 189, 0.582));
    border-radius: 150px;
    border-color: #2b2a2a;
}


.side{
    text-align: center;
    line-height: 170%;
}

.side p{
    padding-right: 43%;
    padding-left: 5px;
    margin-top: 55px;
    padding-bottom: 10px;
    }

.side img{
    width:550px;
    float: right;
    margin-right: 50px;
    margin-top: 25px;
    border-radius: 50px;
    position: relative;
    display: inline-block;
    text-align: center;
}

table{
    position: center;
    background: rgb(241, 241, 241);
    display: block;
    margin: 50px;
    border-collapse: collapse;
    font-size: small;
}

#titulos{
    font-size: 17px;
    padding: 0px 100px;
}
th{
    background: rgb(214, 214, 214);
    border: 1px black solid ;
    padding: 10px;
}
td{
    border: 1px black solid ;
    padding: 8px;
}
footer{
    background-color: #5e5e5e;
    color: #ffffff;
    margin-top: 150px ;
    margin-bottom: 0px;
    display:block
    
}
footer a{
    color:#ffffff;
}
footer li{
    list-style: none;
}
.ico{
    float: right;
    display: inline-block;
    color: #ffffff;
    text-align: center;
    margin-right: 70px;
    margin-top: 40px;
}

.link{
    margin-right: 100px;
    display: inline-block ;
    margin-left: 60px;    
}
.marcas{
    display: inline-block;
    margin-left: 70px;
}
.ico img{
    width: 35px;
    display: inline-block;
    margin-left: 20px;
}