*{
    font-family: Helvetica, sans-serif ;
    
}

body{
    font-weight: 100;
    background-color: #ffffff;
    line-height: 1.4;
}
#cabeza  {
    text-align: center;
}
#cabeza a img{
    width:5%;
    float: right;
    padding-right: 3%;
    padding-top:0.5%;
}
header {
    color: rgb(219, 217, 217);
    background-color: rgb(70, 70, 70);
    display: block;
    width: 100vw;
}
.cl a{
    color: rgb(219, 217, 217);
}
h1{
    align-items: center;
}
.titPag{
    text-align: center;
}
img{
    align-items: center;
    
} 

#galComp img{
width: 300px;
height: 150px;
}

.side p{
    display: block;
    padding-right: 12%;
}

.side img{
    width:610px;
    float: right;

}
table{
    position: center;
    background: rgb(241, 241, 241);
    display: block;
    margin: 50px;
    border-collapse: collapse;
    font-size: small;
}

#titulos{
    font-size: 17px;
    padding: 0px 100px;
}
th{
    background: rgb(214, 214, 214);
    border: 1px black solid ;
    padding: 10px;
}
td{
    border: 1px black solid ;
    padding: 8px;
}
footer{
    display: block;
}
