*{
    font-family: Helvetica, sans-serif ;
}
body{
    font-weight: 100;
    background-color: #e7e7e7;
    line-height: 1.4;
    margin: 0;

}
/*----------------------------------*/
aside{
    display: flex;
    position: absolute;
    border:  1px;
    width: 19%;
    right: 10px;
    top: 300px ;
    flex-direction: column;
}
aside div{
    margin-bottom: 3%;
    background-color: #ffffff;
    padding-top: 4%;
}
.publicidad{
    padding: 0%;
    border-radius: 0%;
    margin-top:5%;
    margin-bottom: 5%;
}
.publicidad img{
    width: 100%;
    border-radius: 0%;

}
aside img{
    width: 95%;
    margin: 0% auto;
    display: block;

}
aside h4{
    color:rgb(245, 122, 51);
    margin-top: 1%;
    margin-bottom: 0%;
    margin-left: 4%;
    margin-right: 3%;
}
aside h3{
    margin-top: 0%;
    margin-left: 4%;
    margin-right: 4%;
    color: #030303;
}
a{
    text-decoration: none;
    color:rgb(245, 122, 51)
}

header{
    /* background: -webkit-gradient(linear,left top,right top,from(#EB9812),color-stop(85.42%,#FE6F28),to(#000)); */
    display: flex;
    flex-direction: column;
    background: #5e5e5e;
    width: 100%;
}


#cabeza {
    display: flex;
    left: 83%;
    position: relative;
    /* margin-right: 20%; */
    /* padding: 0px; */
    width: 17vw;
}


nav{
    display: flex;
    position: relative;
    flex-direction: row;
    bottom: 1vw;

}
header nav a {
	display:inline-block;
	color:#fff;
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:20px;
	font-weight:bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}
header nav a:hover {
	background:#f56f3a;
	border-radius:540px;
}
 nav a{
    margin-right: 10%;
    margin-left: 4%;
 }



/* head {
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: #5e5e5e;

}
*/
#cabeza h1{
color: #ffffff;
text-align: right;
display: inline;
position: relative;
float: right;
margin-top: 4%;
z-index: 2;

}
#cabeza a img{
    width:50px;
    float: right;
    margin-top: 1%;
    z-index: 3;

}
/*
.linkshead {
    padding-bottom: 150px;
    color: rgb(219, 217, 217);
    text-decoration: none;
    
}
 .linkshead .ahead {
    margin-left: 100px;
    margin-right: 100px;
} */

h1{
    align-items: center;
}
.hrr{
    margin-bottom: 15px;
    margin-left: 50px;
    margin-right: 230px;

}
.central h2{
    padding-bottom: 1%;
    padding-top: 1%;
    text-align: left;
    margin-left: 50px ;
    color: rgb(245, 122, 51);
    font-size: 30px;
    font-family:  sans-serif;
}

.titPag{
    text-align: center;
    background-color: #ffffff;
    margin: 0;
    padding-top: 20px ;
    padding-bottom: 10px;
    font-weight: 100;
    border: solid 1px rgb(214, 214, 214);
    margin-bottom: 3.5%;
}

/* --------PAGINA COMPARA--------- */

.pagCompara{
    background: #ffffff;
    margin-left: 80px;
    margin-right: 80px;
}
.imagenTitulo p {
    background-color: #1a1919a9;
    color: rgb(245, 122, 51);
    margin: 0 auto;
    width: 80%;
    font-size: 3vw;
    position: relative;
    bottom: 4.1vw;
    text-indent: 0%;
    backdrop-filter: blur(4px);
    padding-top: 1vw;
    padding-bottom: 1vw;
    text-indent: 0.7vw;
}

.imagenTitulo{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.imagenTitulo img{
    margin: 0% auto;
    width: 80%;
    height: auto;
}
#itCent {
    background-color: #1a1919a9; 
    color: rgb(245, 122, 51);
    margin:0 auto;
    width: 80%;
    font-size: 3vw;
    position: relative;
    bottom: 4.2vw;
    backdrop-filter: blur(10px);
    padding: 0%;
}
.pagCompara table{
    line-height: 120%;
    text-align: center justify;
    position: center;
    background: rgba(240, 240, 240, 0.13);
    display: block;
    margin: 5%;
    border-collapse: collapse;
    font-size: small;
    overflow: scroll;
}

/* -------------------------------------------- */

/* --------PAGINA ECONOMICOS---------------------- */


.sccion {
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
}
.sccion img{
    margin: 0% auto;
    display: block;
    width: 80%;
}
.sccion h2{
    color:rgb(245, 122, 51); ;
    text-align: left;
    text-transform: uppercase;
    padding-left: 0px;
    font-size: 27px;
}

.sccion h3{
    margin-bottom: 15px;
    margin-top: 60px;
    font-size: 30px;
    color: #030303;

}
#tt{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 600px;
    border-color: #030303;
    margin-bottom: 60px;

}
/* -------------------------------------- */
/* -------------modelos Iphone-------------- */

#modelosIphone{
    display: flex;
    flex-direction: column;
}
.modelosIphone .navvv{
    z-index: 1;
    position: sticky;
    top: 0px;
    background-color: #0303038a;
    backdrop-filter: blur(10px);
}
#imgColumna img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.modelosIphone img {
    width: 100%;
}
#gift {
    border-radius: 30px;
    width: 80%;
    margin: 0% auto;
    display: block;


}


/* -------------------------------------- */

article{
    background: #ffffff;
    margin-left: 50px;
    margin-right: 21%;
    padding-top: 30px ;
    padding-bottom: 30px ;
    line-height: 30px;
    border-radius: 10px;
    margin-bottom:15px ;

}
.artic{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
}
article p{
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
}
.unindx { 
    display: block;
    margin: 0% auto;
    margin-top: 30px;
    border-radius: 10px;
    width: 80%;
} 
.compa{
    position: relative;
    padding-bottom:10px ;
}
.compa > h2{
    display: flex;

    flex-direction: row;
}
.compa p{
    position: relative;
    text-align: justify;
    margin-bottom:110px;
    line-height: 30px;
    padding-top: 10px;
    top: 12px;
}

#galComp{
    display: flex;
    margin-top: 40px;
    width: 60%;
    height: fit-content;

}

#galComp div img{
    margin: -1%;
    width: 19vw;
    margin-right: 1vw;
    height: 11vw;
    object-fit: cover;
    border-radius: 30px;
    border: solid 1px rgba(170, 170, 170, 0.123);
    flex-direction: row;
}
#galComp h6{
    margin-top: 8px;
    left: 110px;
    display: inline;
    background:linear-gradient(rgba(139, 139, 139, 0.144),rgba(189, 189, 189, 0.582));
    border-radius: 150px;
    border-color: #2b2a2a;
    padding: 2px;
}


.side{
    text-align: center;
    line-height: 170%;
}
.eco{
    font-size: 18px;
    letter-spacing: 0,5px;
}
.side p{
    padding-left: 5px;
    margin-top: 40px;
    padding-bottom: 10px;
    bottom: 10px;
    position: relative;
    }
    .lee{
        font-size: 12px;;
    }

.side img{
    width:70%;
    float: right;
    border-radius: 10px;
    position: relative;
    display: inline-block;
    margin-left: 25px;
    margin-top: 30px;
    margin-bottom: 15px;
}



#titulos{
    font-size: 17px;
    padding: 0px 100px;
}
th{
    background: rgb(214, 214, 214);
    border: 1px black solid ;
    padding: 10px;
}
td{
    border: 1px black solid ;
    padding: 8px;
}
/*------------------Iphone------------*/
.navvv {
    padding: 39%;
    padding-top:0px ;
    padding-bottom: 10px;
    background-color: #0303038a;
    backdrop-filter: blur(10px);
    color: #f8f8f8;
}
.navvv a{
    color: #f8f8f8;
}
.imgmarc{
    width: 1435px;
    height: 600px;
    object-fit: cover;
    object-position: 0% 15%;
    margin: 0% auto;
    display:block;   
    margin-bottom: 30px
}
.iphone {
    display: block;
    position: relative;

}
.trece{
    position: absolute;
    display: block;
    bottom: 330px;
    left: 70px;
    font-family: 'Bebas Neue';
    font-size: 120px;
    text-shadow: 0.1em 0.1em 0.2em rgb(201, 201, 201);
}
.atre{
    position: relative;
    bottom: 425px;
    left: 190px;
}
.doce{
    position: absolute;
    display: block;
    bottom: 370px;
    left: 70px;
    font-family: 'Bebas Neue';
    font-size: 120px;
    text-shadow: 0.1em 0.1em 0.2em rgb(201, 201, 201);
}
.adoce{
    position: relative;
    bottom: 465px;
    left: 190px;
}
.once{
    position: absolute;
    display: block;
    bottom: 70px;
    left: 70px;
    font-family: 'Bebas Neue';
    font-size: 120px;
    text-shadow: 0.1em 0.1em 0.2em rgb(201, 201, 201);
}
.aolnce{
    position: absolute;   
    bottom: 170px;
    left: 200px;
}
.iphone a{
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 550;
    display: inline-block;
    text-decoration: none;
    color:rgb(255, 255, 255);
    border-radius: 30px;
    padding: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    background:rgb(255, 152, 92);
    box-shadow: 0.2em 0.2em 0.6em rgb(201, 201, 201);
    
}



/*------------------finalIphone------------*/


/*------------------CONTACTO------------*/

.h1cont{
 font-family: 'Bebas Neue';
 font-size: 1060%;
 margin:  1%;
 display: inline;
}
.divContact{
    margin-left: 10%;
    margin-right: 10%;
    background-color: #ffffff;
    padding: 2%;
}
.div1con{
    display: block;
    font-size: 90%;
    text-align: justify;
    position: relative;
    width: 50%;
    left: 49%;
    bottom: 182px;
    margin-left: 1%;
}

.hrcont{
    outline: groove;
    bottom: 177px;
    border: none;
    width: 100%;
    position: relative;
}

form{
    display: flex;
    flex-direction: column;
    background-color:rgb(255, 152, 92);
    border-radius: 15px;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    bottom: 8vw;
    padding: 5vw;
}
label{
    color: white;
}



/*------------------finalCONTACTO------------*/

footer{
    background-color: #5e5e5e;
    color: #ffffff;
    margin-top: 50px ;
    margin-bottom: 0px;
    display:block
    
}
footer h4{
    color:#ffffff;

}
footer a{
    color:#ffffff;
}
footer li{
    list-style: none;
}
.ico{
    float: right;
    display: inline-block;
    color: #ffffff;
    text-align: center;
    margin-right: 70px;
    margin-top: 40px;
}

.link{
    margin-right: 100px;
    display: inline-block ;
    margin-left: 60px;    
}
.marcas{
    display: inline-block;
    margin-left: 70px;
}
.ico img{
    width: 35px;
    display: inline-block;
    margin-left: 20px;
}